.nav{
    display: grid;
    grid-template-columns: repeat(6,auto);
    background-color: #9b2335;
   
}
.title{
    grid-column: 4/5;
    font-family: system-ui;
    color:black;

}
body{
background-color: #939597;
  font-family: system-ui;
  color:black;
}
