.tasklist{
    grid-column: 6/10;
   
}
.titleT{
    grid-column: 6/11;
    margin-left: 25%;
}
#todo-list{
 
    color: white;
    font-size: larger;

}
li{
    position: relative;
    color: white;
    width: 300px;
    background-color: #008CBA;
    height: 80px;
    margin: 20px auto;
    border-radius: 10px;
    list-style: none;
    font-weight: bolder;
}
.text{
   margin-left: 20px;



}
li span{
    text-decoration:none ;
    position: absolute;
     right: 10px; 
    bottom: 55px;
    cursor: pointer;
    margin:0 5px;
    font-size:15px ;

}
li p{
    margin-left: 10px;
}




